{
	"env": {
		"browser": true,
		"node"   : false
	},
	
	"globals": {
		"$"         : false,
		"_"         : false,
		"Backbone"  : false,
		"define"    : false,
		"Handlebars": false,
		"require"   : false
	},
	
	"plugins": [
		"ottofeller"
	],
	
	"rules": {
		"consistent-return"       : 0,
		"curly"                   : [2, "multi"],
		"indent"                  : [2, "tab"],
		"key-spacing"             : 0,
		"no-mixed-spaces-and-tabs": [1],
		
		// Allow for spaced alignemnt of "=" and ":"
		"no-multi-spaces": [2, {exceptions: {"Property": true, "AssignmentExpression": true}}],
		
		"no-spaced-func": [1],
		
		// We often change the lambda-function context with .bind()
		"no-wrap-func": false,
		
		"no-unused-expressions"                : [1],
		"ottofeller/no-var-on-same-line"       : [2],
		"ottofeller/no-full-name-lambda-params": [2],
		"sort-vars"                            : [1, {"ignoreCase": true}],
		"space-before-function-paren"          : [1, "never"],
		"strict"                               : [1, "never"],
		"quotes"                               : [1, "single"]
	}
}
